* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  background-position: center;
}

body{
  height: 100vh;
  background-image: url(../assets/home/background-home-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav{
  flex-wrap: nowrap;
}
.header{
  position: fixed;
  display: flex;
	flex-direction: row;
	width: 100%;
	height: 10%;
}
.line{
  margin-left: 30%;
  width: 48%;
}
hr{
    height: 20px;
    position: relative;
    top: 50%;
    background-color: white;
    z-index: 2;

}
h1{
  font-family: 'Bellefair', serif;
  color: #fff;
  font-size: 9.375rem;
}

h4{
  font-family: 'Bellefair', serif;
  color: #0B0D17;
  font-size: 2rem;
  text-align: center;
  padding: 140px 96px;
}

h5{
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
  font-size: 1.75rem;
  letter-spacing: 4.75px;
}

p{
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
  font-size: 1.125rem;
  line-height: 32px;
}

.under-bar ul{
  margin: 0px 65px 0 50px;
}

/* content box*/
.under-bar {
  display: flex;
  flex-direction: row;
  max-width: 60%;
  width: 100%;
  position: absolute;
  right: 0;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
}
.cointainer-fluid{
  width: 50%;
  height: auto;
	display: flex;
}
/* text */
.nav-link{
  color: white;
  padding: 30px 15px 30px 15px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-decoration: none;
}

/* Underline */
.cointainer-fluid a{
  margin-right: 30px;
}

.cointainer-fluid a:hover, .cointainer-fluid a:focus, .cointainer-fluid a:active{
  border-bottom: 3px solid #fff;
  color: #fff;
  text-decoration: none;
}

.static a{
  border-bottom: 3px solid #fff;
}

.dody-script{
  display: flex;
  flex-direction: column;
  width: 25%;
  position: fixed;
  bottom: 20%;
  left: 15%;
  text-align: justify;
  margin: auto;
  z-index: 0;
}

/* Logo */
.logo{
  display: flex;
  height: 48px;
  position: relative;
  top: 40%;
  left: 20%;
}
/* Expore Button */
.explore{
  display: flex;
  background-color: #fff;
  position: fixed;
  bottom: 20%;
  right: 15%;
  width: 320px;
  height: 320px;
  border-radius: 100%;
}

@media all and (max-width: 960px){
  body{
    height: 100vh;
    background: url("../assets/home/background-home-tablet.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  h5{
    font-size: 1.25rem;
  }
  p{
      font-size: 1rem;
      line-height: 28px;
      text-align: center;
      margin-top: -50px;
  }
  hr{
    position: absolute;
  }
  .header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
  }
  .under-bar ul{
    width: auto;
  }
  
  .under-bar{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 0;
  }
  .cointainer-fluid{
    width: 50%;
    height: auto;
    display: flex;
  }
  .nav{
    flex-wrap: nowrap;
  }

  .dody-script{
    display: flex;
    position: fixed;
    width: 50%; /*42%*/
    bottom: 45%;
    left: 25%;
    text-align: center;
  }

  .explore{
    display: flex;
    position: fixed;
    right: 35%;
    bottom: 5%;
  }

}
